<a href="http://blogs.evergreen.edu/seedsandcircuits/blog/2012/07/18/dayz-the-zombie-horror-survival-mod-that-resurrected-a-dead-franchise/" target="_blank">DayZ</a> is an epic mod for Arma 2 but it has a high learning curve. This article  will cover the basics that will get you up and running and hopefully help you survive your first day. Finding a server isn’t terribly difficult but you want to make note of the time at which you are playing. The game shares the same time at which the server is hosted meaning that if the server is located in Seattle and it is 9pm then it is 9pm in the game. There are benefits to both playing during the day and night. If you wish to play during the day and it is currently night in your timezone, you should look for a server that is set to run on GMT or UTC time. For example, there are Seattle servers that label themselves as "UTC-8," meaning they are eight hours behind GMT.

[caption id="attachment_1235" align="alignnone" width="770"]<a href="http://localhost/seeds/day-zero-surviving-your-first-day-in-dayz/howitgoes/" rel="attachment wp-att-1235"><img src="http://localhost/seeds/assets/howitgoes.jpg" alt="" title="howitgoes" width="770" height="385" class="size-full wp-image-1235" /></a> Pretty much dude[/caption]

<h3>Benefits of Day:</h3>
<ul>
	<li>Being able to see farther in the distance.</li>
	<li>Geographic landmarks are distinct.</li>
	<li>Your temperature doesn’t go down (unless it is raining.)</li>
	<li>You are less likely to scare yourself, deciding if thats a bush or a sniper in a <a href="http://dayzwiki.com/wiki/index.php?title=Ghillie_Suit">ghillie</a> suit.</li>
</ul>

[caption id="attachment_1236" align="alignnone" width="770"]<a href="http://localhost/seeds/day-zero-surviving-your-first-day-in-dayz/nightscape/" rel="attachment wp-att-1236"><img src="http://localhost/seeds/assets/nightscape.jpg" alt="" title="nightscape" width="770" height="385" class="size-full wp-image-1236" /></a> Obligatory artsy night shot[/caption]

<h3>Benefits of Night:</h3>
<ul>
	<li>Zombies can’t see you as easily.</li>
	<li>Can be louder and move faster due to added stealth from darkness.</li>
	<li>Harder for other players to see you (unless they have night vision equipment or you are using a flashlight.)</li>
</ul>
<div><strong>Initial Spawn:</strong></div>
<div>When you first get into the game you want to make note of where you spawn. It will tell you in the bottom right corner. From here you can look at the ocean to get your bearings. South is directly to the ocean and North is inland. This <a href="http://dayzdb.com/map">map</a> should help you find land marks as well as good locations to find equipment to survive in this sandbox environment.</div>

[caption id="attachment_1237" align="alignnone" width="770"]<a href="http://localhost/seeds/day-zero-surviving-your-first-day-in-dayz/spawn/" rel="attachment wp-att-1237"><img src="http://localhost/seeds/assets/spawn.jpg" alt="" title="spawn" width="770" height="385" class="size-full wp-image-1237" /></a> Missing what city you have spawned into can lead to abuses of the English language[/caption]

<span style="font-weight: bold">
Essentials for survival, items that should be coveted and found quickly:
</span>
<ul>
	<li>Hunting Knife - To gather meat from animals. This allows you to replenish lost blood as meat cures both hunger and restores blood count.</li>
	<li>A gun. There are <a href="http://dayzwiki.com/wiki/index.php?title=Weapons" target="_blank">numerous types</a>, from pistols to light machine guns, that vary in noise level, damage, etc.</li>
	<li>Matches - Allows you to make a campfire to cook meat and increase body temperature.</li>
	<li>Hatchet - Chop down some trees in the forest to gather wood for a fire and also doubles as a weapon that is silent.</li>
	<li>Water bottle - Stores water that must be consumed often to prevent death by dehydration.</li>
	<li>Bandages - Stops bleeding. If blood levels get too low the player will pass out leaving them vulnerable.</li>
	<li>Morphine - Absolute must if playing solo. This mends broken bones which is the lamest way to die.</li>
</ul>
&nbsp;

[caption id="attachment_1238" align="alignnone" width="770"]<a href="http://localhost/seeds/day-zero-surviving-your-first-day-in-dayz/zombieday/" rel="attachment wp-att-1238"><img src="http://localhost/seeds/assets/zombieday.jpg" alt="" title="zombieday" width="770" height="385" class="size-full wp-image-1238" /></a> Rule Number One: Cardio[/caption]

<strong>How to lose zombies:</strong>
<ul>
	<li>Zig-zag up a hill and keep going. They will soon lose "aggro" by breaking their sight line with you.</li>
	<li>Zombies will avoid docks.</li>
	<li>Get indoors. Zombies must walk in doors which makes picking them off with a hatchet or small arms really easy.</li>
	<li>Be wary of erratic movement by Zombies, some of which is designed and some of which is from the buggy engine.</li>
</ul>
<div>

[caption id="attachment_1240" align="alignnone" width="770"]<a href="http://localhost/seeds/day-zero-surviving-your-first-day-in-dayz/campfire/" rel="attachment wp-att-1240"><img src="http://localhost/seeds/assets/campfire.jpg" alt="" title="campfire" width="770" height="385" class="size-full wp-image-1240" /></a> Who packed the banjo?[/caption]

</div>
<strong><strong>Tips and Tricks:
</strong></strong>
<ul>
	<li>Don’t get attached to your gear. Player vs player interactions are quite frequent.</li>
	<li>Turn your gamma and brightness to max if it is night time. Access your video settings by hitting escape while in game.</li>
	<li>Don’t consume food or drinks until the meter is flashing in your hud.</li>
	<li>Turn off music to maximize game sound. Sound tells you if someone is sneaking up on you or alerting you when shots are fired.</li>
	<li>Turn off music because it's scary</li>
	<li>Don’t trust anyone. People, especially in groups, prey upon those soloing. Read more about the "bandit" strategy <a href="http://dayzmod.com/forum/index.php?/forum/29-bandit-campfire/">here.</a></li>
</ul>
<div><strong>Resources:</strong></div>
<div>
<ul>
	<li>Read our full review of the game and its history <a href="http://blogs.evergreen.edu/seedsandcircuits/blog/2012/07/18/dayz-the-zombie-horror-survival-mod-that-resurrected-a-dead-franchise/" target="_blank">here.</a></li>
	<li>Read the forums and guides at <a href="http://www.dayzmod.com" target="_blank">dayzmod.com</a>.</li>
	<li>Follow the sub <a href="http://www.reddit.com/r/dayz" target="_blank">Reddit</a> dedicated to video clips, news, and stories all about DayZ.</li>
</ul>
</div>